@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@700&display=swap');

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
}

/* .border {
    border: 1px solid white;
    width: 100%;
    height: 1px;
} */

header .out_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    max-width: 1400px;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    background-color: #333;
    border-bottom: 1px solid #FFF;
    z-index: 1;
}

nav > .menu_container {
    display:flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    background-color: orange;
}

.menu_container li {
    padding: 8px 12px;
    margin: 0 40px;
    background-color: bisque;
}

.out_container .logo {
    margin-left: 10px;
    font-size: 2rem;
    background-color: aquamarine;
}
/* scroll시 페이지 구분이 사실상 없어 해당 여백으로
자연스러운 연출 시도.... */
/* .vaccum {
    height: 40%;
    margin: 0;
    padding:0;
    background-color: white;
} */
/* 임시로 글꼴만 볼려고 */
.menu_container a {
    color: white;
    text-decoration-line: none;
}
/* login */
.login_btn {
    width: 150px;
    max-width: 100%;
    padding: 10px 10px;
    background-color: #e25c00;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    transition: .25s;
    margin-right: 10px;
}

.login_btn:focus, .login_btn:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #e25c00;
}

/* 첫번째 페이지 */
.main_page {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: pink;

}
/* h1 */
.section_main_text {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2em;
    margin: 0;
}
/* video */
div video {
    width:100%; 
    max-height: 100%;
    overflow: hidden;}

/* 두번째 페이지 */
.three_pic {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: beige;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap; /* 각각의 섹션이 한 줄에 표시되도록 합니다. */
}

.left_pic { 
    background: url(/asset/AdobeStock_100151489.jpeg) center center / cover no-repeat;
    height: 100vh;
    display: absolute;
}

.center_pic {
    background: url(/asset/AdobeStock_220672452.jpeg) center center / cover no-repeat;
    height: 100vh;
    display: absolute;
}

.right_pic {
    background: url(/asset/AdobeStock_224057356.jpeg) center center / cover no-repeat;
    height: 100vh;
    display: absolute;
}
.three_pic section {
    flex-grow: 1; /* 각각의 섹션 요소를 같은 폭으로 설정합니다. */
    height: 100%; /* 부모 요소의 높이를 채우도록 합니다. */
    box-sizing: border-box; /* 요소의 너비와 높이가 border와 padding을 포함하여 계산되도록 합니다. */
    padding: 0px; /* 요소의 내부에 간격을 줍니다. */
    border: 1px solid black; /* 요소의 테두리를 설정합니다. */
    background-color: powderblue;
}

.third_page div{
    background: url(/asset/AdobeStock_315669632.jpeg) center center / cover no-repeat;
    height: 100vh;
    display: absolute;
}

section h2 {
    margin: 0;
    background-color: palegoldenrod;
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2em;
}

p > span {
    display: inline-blcok;
    margin: 0 4px;
    color: #d0d0d0;
}

#footer {
    background-color: #333;
    position: relative;
    height: 5%;
}

.foot_container {
    display: flex;
    align-items: center; /* 자식 요소들을 수직 가운데 정렬합니다. */
    padding: 4% 7.4%;
    background-color: yellow;
}

h5, .companyInfo {
    display: inline;
}

h5 > img {
    width: 360px;
    margin: 0;
}

div > p {
    font-size: 0.8rem;
    margin: 0;
}
/* 3번째 page */
.third_page {
    /* footer영역 5% 뺀값 */
    width: 100%;
    height: 95%;
    background: linear-gradient(#141e30, #2FFF);
}



