*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html, body {
    height: 100vh;
    width: 100%;
}
/* project main page table position and size */
.tableBox {
    position: absolute;
	top: 20%;
    width: 90%;
    /* 표 가운데 정렬 */
    left: 5%;
}